$space: 10em;
$width: 960px;

$black: #405060;
$blacker: #111;
$skyblue: #F3F9FF;
$blue: #326BAD;
$highblue: saturate($blue, 40%);
$bluegrey: mix($blue, #8090a0, 30%);
$gray: #708090;
$red: #f35;
$green: #6c3;
$teal: #50E3C2;
$maroon: desaturate(#826, 35%);
$line-color: rgba($blue, .1);

$ms-base: 1em;
$ms: 1.2;
$ms-ratio: 1.2;
$ms-range: 1.08 20em, 1.2 60em;

$serif: merriweather, palatino, serif;
$sans: 'source sans pro', sans-serif;
$monospace: 'roboto mono', menlo, monospace;

// $sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
// $sans: adelle sans, source sans pro, sans-serif;

@mixin antialias {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
