extends ./base.jade

block title
  = chapter + ' - ' + book

block body
  body.-chapter
    .book-nav
      .nav-button

    .chapter-nav
      a(href='.')= book
      span= chapter

    #body.markdown-body.-literate
      .page-section
        .container
          h5.chapter-prelude
            strong= 'Pocket Guides / '
            a(href='.')= book
          != contents

    script(src='../assets/script.js')
