extends ./base.jade

block title
  = chapter + ' - ' + book

block body
  body.-chapter
    .book-nav
      .nav-button

    .chapter-nav
      a(href='.')= book
      span= chapter

    #body.markdown-body.-literate
      .page-section
        .container
          h5.chapter-prelude
            a.root(href='/') devguides.io
            span= ' / '
            a.book(href='.')= book
          != contents

    script(src=(base + '/assets/common.min.js'))
    script(src=(base + '/assets/script.min.js'))
    include ./includes/analytics.jade
