extends ./base.jade

block title
  = title

mixin body-content()
  body.-landing
    if block
      block
    script(src=(base + '/assets/common.min.js'))
    script(src=(base + '/assets/script.min.js'))
    include ./includes/analytics.jade
