/*
 * Literate style
 */

@media (min-width: 900px) {
  .markdown-body.-literate {
    pre, blockquote, .example-frame {
      width: 60%;
      float: right;
      clear: right;
    }

    blockquote {
      box-sizing: border-box;
      padding-right: 2em;
    }

    h2, h3, p {
      width: 37%;
      float: left;
      clear: left;
    }

    blockquote {
      > p {
        width: auto;
        float: none;
      }
    }
  }
}

// HR's only break apart literate sections, they serve no visual purpose
// when in non-literate mode
@media (max-width: 899px) {
  .markdown-body.-literate hr {
    display: none;
  }
}
