/*
 * Literate style
 */

@media (min-width: 900px) {
  .markdown-body.-literate .container {
    > pre, > blockquote:not(.up-next), > .example-frame {
      width: 60%;
      float: right;
      clear: right;
    }

    > blockquote {
      box-sizing: border-box;
      padding-right: 2em;
    }

    // Note `h2` will not be wrapped to the left
    > h2 {
      font-weight: normal;
      padding-top: 2em;
      clear: both;
    }

    > h3, > p, > details {
      width: 37%;
      float: left;
      clear: left;
    }

    > blockquote > p {
      width: auto;
      float: none;
    }
  }
}

// HR's only break apart literate sections, they serve no visual purpose
// when in non-literate mode
@media (max-width: 899px) {
  .markdown-body.-literate hr {
    display: none;
  }
}
