@media (min-width: 769px) {
  .markdown-body {
    padding-bottom: 0;
  }

  .page-section::after {
    content: '';
    display: block;
    position: absolute;
    left: 64px;
    top: 20px;
    bottom: 20px;
    width: 1px;
    background: rgba($blue, .05);
  }

  .page-section.-active:last-child {
    background:
      linear-gradient(to bottom, rgba(#123, .8), rgba(#123, .8)),
      linear-gradient(to bottom, rgba(#808080, .7), rgba(#808080, .7)),
      url('https://unsplash.it/1400/600?image=635') center center / cover;

    &, * {
      color: white !important;
    }
  }

  .page-section.-mute:last-child {
    transform: scale(1);
  }

  .page-section:last-child {
    text-align: center;
    margin-top: 5em;
    margin-left: -16px;
    margin-right: -16px;

    blockquote {
      margin: 0;
      padding: 0;
      padding-top: 2em;
      padding-bottom: 2em;


      &:before {
        display: none;
      }
    }
  }
}
