/*
 * Literate style
 */

@media (min-width: 769px) {
  .markdown-body {
    pre, blockquote {
      width: 60%;
      float: right;
      clear: right;
    }

    blockquote {
      box-sizing: border-box;
      padding-right: 2em;
    }

    h2, h3, p {
      width: 37%;
      float: left;
      clear: left;
    }

    blockquote {
      > p {
        width: auto;
        float: none;
      }
    }
  }
}
