---
title: Redux
prelude: Introduction to
description: |
  Redux is a library for managing data in a React application. This guide assumes an intermediate knowledge of JavaScript.
chapters:
  - id: introduction
    title: Introduction
    description: An introduction to Redux
  - id: actions
    title: Actions
    description: An introduction to Redux
  - id: reducers
    title: Reducers
    description: An introduction to Redux
  - id: react
    title: Using with React
    description: An introduction to Redux
  - id: middleware
    title: Middleware
    description: An introduction to Redux
---
extends ../_layouts/book.jade

block content
  +content(chapters)
