---
title: Redux
prelude: Introduction to
next: introduction
chapters:
  - id: introduction
    title: Introduction
    description: An introduction to Redux
  - id: actions
    title: Actions
    description: Modifying the state
  - id: reducers
    title: Reducers
    description: Defining state transitions
  - id: react
    title: Using with React
    description: Integrating via react-redux
  - id: middleware
    title: Middleware
    description: Managing side effects
---
extends ../_layouts/book.jade

block description
  :markdown-it
    [Redux](http://redux.js.org) is a library for managing data in a React application. This guide assumes an intermediate knowledge of JavaScript.

block body
  body.-book
    +content(chapters)
