/*
 * Cover
 */

.cover-section {
  position: relative;
  background: white;
  overflow: hidden;

  display: flex;
  align-items: center;

  > .cover-front {
    flex: 0 0 50%;
    min-height: calc(100vh - 32px);
    height: 100%;
    background: #89a;
  }

  > .cover-content {
    flex: 0 0 50%;
  }
}

@media (min-width: 769px) {
  .cover-section::after {
    content: '';
    display: block;
    top: 24px;
    left: 64px;
    bottom: 24px;
    width: 1px;
    background: rgba(white, .2);
    position: absolute;
  }
}

.cover-content {
  padding: 32px;
  padding-left: 64px;
}

/*
 * Front cover
 */

.cover-front {
  padding: 32px;
  padding-top: 24px;
  padding-left: 64px + 32px;

  display: flex;
  flex-direction: column;

  > .space {
    flex: 1 0 50%;
  }

  > .chapter-prelude {
    margin-top: 0;
    margin-bottom: 0;
    strong { color: $black; }
    a { color: white; }
  }
}

.cover-front-title {
  > .prelude {
    margin: 0;
    padding: 0;
    font-family: $serif;
    @include ms-respond(font-size, 3);
    line-height: 1.5;
    margin-bottom: .5em;
    font-style: italic;
  }

  > .title {
    margin: 0;
    padding: 0;
    @include ms-respond(font-size, 8);
    line-height: 1.1;
    color: white;
  }

  > .title::after {
    display: none;
  }
}

