/*
 * Pages
 */

.page-section {
  @include clearfix;

  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
  min-height: 100vh;

  @media (min-width: 769px) {
    @include ms-respond(padding-top, 10);
    @include ms-respond(padding-bottom, 10);
  }

  & + & {
    border-top: solid 2px rgba($blue, .1);
  }

  &:first-child > .container > h1 {
    @include ms-respond(font-size, 8);

    &::after {
      display: none;
    }
  }
}

/*
 * Line
 */

.page-section {
  @media (min-width: 769px) {
    & {
      padding-left: 64px + 16px;
      padding-right: 16px;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 16px;
      bottom: 16px;
      left: 64px;
      width: 1px;
      background: $blue;
      opacity: .1;
    }
  }
}

/*
 * Account for prelude
 */

.page-section:first-child {
  padding-top: 24px;
}

div[role="next-waypoint"] {
  height: 30vh;
  text-align: center;
}

.cover-section {
  position: relative;
  min-height: calc(100vh - 32px);
  background: white;
  overflow: hidden;

  display: flex;

  > .cover-front {
    flex: 0 0 50%;
    background: #89a;
  }

  > .cover-content {
    flex: 0 0 50%;
  }
}

.cover-content {
  padding: 32px;
  
}
