/*
 * Pages
 */

.page-section {
  @include clearfix;

  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
  min-height: 100vh;

  @media (min-width: 769px) {
    @include ms-respond(padding-top, 10);
    @include ms-respond(padding-bottom, 10);
  }

  & + & {
    border-top: solid 1px rgba($blue, .1);
    margin-top: 8px;
  }

  &:first-child > .container > h1 {
    @include ms-respond(font-size, 8);

    &::after {
      display: none;
    }
  }
}

/*
 * Line
 */

@media (min-width: 769px) {
  .page-section::before {
    content: '';
    display: block;
    position: absolute;
    top: 16px;
    bottom: 16px;
    left: 64px;
    width: 1px;
    background: $blue;
    opacity: .1;
  }
}

/*
 * Account for prelude
 */

.page-section:first-child {
  padding-top: 24px;
}

div[role="next-waypoint"] {
  height: 30vh;
  text-align: center;
}
