.playground-box {
  position: fixed;
  background: white;
  bottom:  0;
  left:  16px;
  right:  16px;
  z-index: 10;
  height: 100px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-top: solid 4px #f0f2f4;
}
