/*
 * Page scroller:
 * Dynamically added class via JS when the browser supports it.
 */

.page-scroller {
  overflow: hidden;
}

.page-scroller > * {
  display: flex;
}

.page-scroller > * > * {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 0 0 100vw;
  -webkit-overflow-scrolling: touch;

  // Compensate for iOS Safari's toolbar
  padding-bottom: 70px;
}
