@mixin hr-rule {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: $line-color;

  @media (min-width: 769px) {
    background: linear-gradient(to right, $line-color, rgba($line-color, .5) 90%);
  }
}
