.markdown-body .container > details {
  @media (min-width: 481px) {
    > p {
      margin-left: 3px;
      padding-left: 13px;
      border-left: solid 2px $line-color;
    }

    > ul {
      margin-left: 5px;
      padding-left: 13px;
    }
  }

  > summary + * {
    margin-top: 16px;
  }

  > summary:focus {
    outline: 0;
  }

  > summary {
    font-style: italic;
    font-family: $serif;
    font-size: .9em;
    cursor: pointer;
  }

  @media (min-width: 481px) {
    > summary:hover {
      color: $blue;
    }
  }

  & + details {
    margin-top: 8px;
  }

  // Boxed look on mobile
  @media (max-width: 481px) {
    > p,
    > ul {
      border: solid 1px $line-color;
      background: fade-out($skyblue, .5);
      border-radius: 3px;
      padding: 8px 16px;
      margin: 0;
      margin-top: 8px;
    }

    > ul > li {
      margin-left: 16px;
    }
  }
}

