@import '../node_modules/normalize.css/normalize';
@import '../node_modules/github-markdown-css/github-markdown';

$space: 10em;
$width: 960px;

body {
  form-family: sans-serif;
  overflow-x: hidden;
}

.markdown-body {
  max-width: $width;
  margin: 0 auto;
  padding-top: $space;
  padding-bottom: $space;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.7;
}

.markdown-body h1 {
  font-family: palatino, serif;
  border-bottom: 0;
}

.markdown-body hr {
  margin: $space 0;
  width: 100vw;
  margin-left: calc(-1 * (50vw - #{$width / 2}));
}

.markdown-body {
  pre, blockquote {
    width: 60%;
    float: right;
  }

  hr {
    clear: both;
    display: block;
    height: $space;
    background: transparent;
    border-bottom: solid 4px #eee;

    &:before {
      content: '';
      clear: both;
      display: block;
      margin-bottom: $space;
      background: red;
    }
  }

  h2, h3, p {
    float: left;
    width: 37%;
    clear: both;
  }

  blockquote {
    padding-left: 0;
    margin-left: 0;
    border: 0;

    > p {
      width: auto;
      float: none;
    }
  }
}

.markdown-body .up-next {
  &,
  > p {
    width: auto;
    float: none;
  }

  clear: both;

  padding-top: 3em;
  
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(180, 180, 180, 0.5), rgba(180, 180, 180, 0));
    margin-bottom: 16px;
  }

  > p > a {
    margin-left: 10px;
    font-weight: bold;
  }
}
