@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import '../node_modules/normalize.css/normalize';
@import '../node_modules/github-markdown-css/github-markdown';
@import '../node_modules/modularscale-sass/stylesheets/modular-scale';
@import '../node_modules/iconfonts/stylesheets/ionicons';

$space: 10em;
$width: 960px;

$black: #405060;
$blacker: #111;
$skyblue: #F3F9FF;
$blue: #326BAD;
$bluegrey: mix($blue, #8090a0, 30%);
$gray: #708090;

$ms-base: 1em;
$ms: 1.2;
$ms-ratio: 1.2;
$ms-range: 1.1 20em, 1.2 60em;

$serif: merriweather, palatino, serif;
// $sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
// $sans: adelle sans, source sans pro, sans-serif;
$sans: source sans pro, sans-serif;

/*
 * Mixins
 */

@mixin hr-rule {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: rgba($blue, .1);

  @media (min-width: 769px) {
    background: linear-gradient(to right, rgba($blue, .1), rgba($blue, .05) 90%);
  }
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
    zoom: 1;
  }
}

/*
 * Base
 */

@include ion-font;

body {
  overflow-x: hidden;
}

body, .markdown-body {
  font-family: $sans;
  line-height: 1.7;
  color: $black;
  font-size: 13px;
  @media (min-width: 769px) {
    font-size: 16px;
  }
}

/*
 * headings
 */

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body strong {
  color: $blacker;
}

.markdown-body h1 {
  font-family: $serif;
  font-weight: 100;
  border-bottom: 0;
  @include ms-respond(font-size, 5);
  font-weight: normal;

  // Line on desktop
  @media (min-width: 769px) {
    &:after {
      @include hr-rule;
      margin-top: .5em;
    }
  }

  @media (max-width: 480px) {
    margin-bottom: 0;
  }
}

.markdown-body h3 {
  font-family: $sans;
  @include ms-respond(font-size, 0);
  font-weight: 700;

  margin-bottom: .25em;
  font-size: 1.2em;

  & + p {
    margin-top: 0;
  }
}

/*
 * Blockquote
 */

.markdown-body blockquote {
  p {
    color: $bluegrey;
    font-family: $serif;
    font-style: italic;
    @include ms-respond(font-size, -1);
  }

  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  border: 0;
}

/*
 * pre
 */

.markdown-body pre {
  background: $skyblue;
  color: rgba($blue, .8);
  font-size: .8em;
  line-height: 1.6;

  > code {
    background: ihnerit;
    color: inherit;
  }

  @media (max-width: 480px) {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.markdown-body code {
  background: transparent;
  padding: 0;
  margin: 0;
  color: $black;
  letter-spacing: -0.05em;
  font-style: normal;
  &:before, &:after {
    display: none;
  }
}

/*
 * hr
 */

.markdown-body hr {
  display: block;
  clear: both;
  background: transparent;
  margin-bottom: 1.5em;
  position: relative;
  top: .3em; // There's no margin-top for clear: both

  &::before {
    @include hr-rule;
    opacity: .5;
  }

  // Hide in mobile
  @media (max-width: 480px) {
    display: none;
  }
}

/*
 * Literate style
 */

@media (min-width: 769px) {
  .markdown-body {
    pre, blockquote {
      width: 60%;
      float: right;
      clear: right;
    }

    blockquote {
      box-sizing: border-box;
      padding-right: 2em;
    }

    h2, h3, p {
      width: 37%;
      float: left;
      clear: left;
    }

    blockquote {
      > p {
        width: auto;
        float: none;
      }
    }
  }
}

/*
 * Up next
 */

.markdown-body .up-next {
  clear: both;

  @media (min-width: 769px) {
    @include ms-respond(padding-top, 10);
  }

  &, > p {
    width: auto;
    float: none;
  }

  &:before {
    @include hr-rule;
    margin-bottom: 16px;
  }

  > p {
    color: $black;
    font-style: normal;
    font-family: $sans;
    font-size: 1em;
  }

  > p > a {
    margin-left: 10px;
    font-weight: bold;
    font-family: $sans;
    font-style: normal;
    text-transform: uppercase;
    font-size: .95em;
    letter-spacing: .02em;
  }

  > p > a::after {
    @include ion-icon('chevron-right');
    margin-left: 8px;
    font-size: .95em;

    position: relative;
    top: -1px;
  }
}

/*
 * Pages
 */

.page-section {
  @include clearfix;

  padding-top: 2em;
  padding-bottom: 2em;

  @media (min-width: 769px) {
    @include ms-respond(padding-top, 12);
    @include ms-respond(padding-bottom, 12);
  }

  & + & {
    border-top: solid 1px rgba($blue, .1);
  }

  &:first-child > .container > h1 {
    @include ms-respond(font-size, 8);

    &::after {
      display: none;
    }
  }
}

/*
 * Container
 */

.container {
  max-width: 960px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/*
 * hljs
 */

.hljs-comment {
  color: rgba($blue, .5);
}

.hljs-keyword {
  color: $blue;
}

.hljs-string,
.hljs-literal,
.hljs-number {
  color: saturate($blue, 40%);
}

.hljs-placeholder {
  background: rgba($blue, .5);
  color: white;
  font-family: $sans;
  border-radius: 10px;
  font-size: .9em;
  padding-left: .9em;
  padding-right: .9em;

  position: relative;
  top: -1px;
}

.hljs-highlight {
  background: white;
  box-shadow: 0 -2px white, 0 2px white;
  padding-left: .2em;
  padding-right: .2em;
  border-radius: 3px;
}

.hljs-line {
  display: block;
  margin-left: -8px;
  margin-right: -8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: -1.6em;

  & + & {
    margin-top: 1.6em;
  }

  &.-highlight {
    background: rgba(white, .9);
  }

  &.-mute {
    background: white;
    &, * { color: rgba($blue, .5); }
    opacity: .7;
  }
}

.hljs-ellipsis {
  &::before {
    content: '···';
  }

  letter-spacing: .2em;
  background: rgba($blue, .1);
  color: $blue;
  font-family: $sans;
  border-radius: 2px;
  padding-left: .9em;
  padding-right: .9em;

  position: relative;
  top: -1px;
}

/*
 * Muting
 */

@media (min-width: 769px) {
  .markdown-body {
    background-color: #fdfdfe;
    padding: 16px;
  }

  .page-section {
    & {
      background-color: rgba(white, .99);
      transition: background-color 600ms linear, transform 300ms ease-out;
      transform-origin: 64px 50%;

      > .container {
        opacity: 1;
        transition: opacity 300ms linear;
      }
    }

    &.-active {
      transition: background-color 300ms linear, transform 300ms ease-out;
      border-top: 0;
      position: relative;
      z-index: 3;
      box-shadow: 0 20px 40px rgba($blue, .02);
      transform: scale(1);
    }

    &.-mute {
      border-top: 0;
      background-color: rgba(white, 0);
      transform: scale(.98);

      > .container {
        opacity: .2;
      }
    }
  }
}

/*
 * Chapter nav
 */

.book-nav {
  position: fixed;
  top: 40px - 8px;
  left: 40px;
  z-index: 5;

  height: 32px;
  line-height: 32px;

  transform: translate3d(0, 0, 0);

  @include ms-respond(font-size, -1);
}

.chapter-nav {
  position: fixed;
  z-index: 5;
  top: 40px + 300px + 16px;
  left: 40px + 32px - 8px;
  height: 32px;
  line-height: 32px;
  text-align: right;
  width: 300px;
  @include ms-respond(font-size, -1);

  transform-origin: 0 100%;
  transform: rotate(270deg);

  strong {
    margin-right: .5em;
  }

  strong, span {
    position: relative;
    top: 2px;
  }

  span {
    color: $gray;
    opacity: .5;
  }
}

.nav-button {
  display: inline-block;
  vertical-align: middle;

  &:before {
    @include ion-icon('navicon');
    font-size: 32px;
    color: $blue;
  }
}

@media (max-width: 768px) {
  .chapter-nav,
  .book-nav {
    display: none;
  }
}

.page-nav {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 1;
  transform: translate3d(0, 0, 0);
  @include ms-respond(font-size, -1);
  color: $gray;
  opacity: .5;
}

.page-section {
  position: relative;
}

@media (min-width: 769px) {
  .markdown-body {
    padding-bottom: 0;
  }

  .page-section::after {
    content: '';
    display: block;
    position: absolute;
    left: 64px;
    top: 20px;
    bottom: 20px;
    width: 1px;
    background: rgba($blue, .05);
  }

  .page-section.-active:last-child {
    background:
      linear-gradient(to bottom, rgba(#123, .8), rgba(#123, .8)),
      linear-gradient(to bottom, rgba(#808080, .7), rgba(#808080, .7)),
      url('https://unsplash.it/1400/600?image=635') center center / cover;

    &, * {
      color: white !important;
    }
  }

  .page-section.-mute:last-child {
    transform: scale(1);
  }

  .page-section:last-child {
    text-align: center;
    margin-top: 5em;
    margin-left: -16px;
    margin-right: -16px;

    blockquote {
      margin: 0;
      padding: 0;
      padding-top: 2em;
      padding-bottom: 2em;


      &:before {
        display: none;
      }
    }
  }
}
