---
external:
  - /vendor/redux.js
given:
  - code: |
      var createStore = require('redux').createStore

      function reducer (state, action) {
        switch (action.type) {
          case 'PUBLISH':
           return Object.assign({}, state, { published: true })
          default:
           return state
        }
      }

      var article = { title: 'Global Warming' }
      var store = createStore(reducer, article)
examples:
  - placeholder: |
      console.log(store.getState())  //=> { ... }

      store.dispatch({ type: 'PUBLISH' })
      console.log(store.getState())  //=> { ..., published: true }
    code: |
      console.log(store.getState())

      store.dispatch({ type: 'PUBLISH' })
      console.log(store.getState())
---
extends ../../_layouts/example.jade
block body
  +example-body(given, examples, external)
