---
given:
  - hide: true
    code: |
      var album = {
        title: 'Kind of Blue',
        artist: 'Miles Davis',
        year: 1959
      }
examples:
  - action: Read
    code: |
      console.log(album.title)
---
extends ../../_layouts/example.jade
block body
  +example-body(given, examples)
