---
external:
  - /vendor/redux.js
given:
  - code: |
      var createStore = require('redux').createStore

      var article = {
        title: 'Global Warming'
      }

      function reducer (state, action) {
        if (action.type === 'PUBLISH') {
          return Object.assign({}, state, { published: true })
        } else {
          return state
        }
      }

      var store = createStore(reducer, article)
examples:
  - placeholder: |
      console.log(store.getState())  //=> { ... }

      store.dispatch({ type: 'PUBLISH' })
      console.log(store.getState())  //=> { ..., published: true }
    code: |
      console.log(store.getState())

      store.dispatch({ type: 'PUBLISH' })
      console.log(store.getState())
---
extends ../../_layouts/example.jade
block body
  +example-body(given, examples, external)
