---
example_type: repl
given:
  - hide: true
    code: |
      var album = {
        title: 'Kind of Blue',
        artist: 'Miles Davis',
        year: 1959
      }
examples:
  - action: Read
    code: |
      album.title
  - action: Set
    code: |
      album.genre = 'Jazz', album
---
extends ../../_layouts/example.jade
block body
  +example-body(given, examples)
