---
title: ES2015
prelude: Introduction to
next: variables
chapters:
  - id: overview
    title: Overview
    description: Overview of new features
  - id: variables
    title: Variables
    description: About let, const, and block scoping
  - id: objects
    title: Objects
    description: New shorthand for objects
  - id: classes
    title: Classes
    description: An alternative to prototypes
  - id: strings
    title: Strings
    description: New string syntax for ES2015
  - id: functions
    title: Functions
    description: All about arrow functions
  - id: destructuring
    title: Destructuring
    description: Shorthand for accessing properties
  - id: modules
    title: Modules
    description: All about import and export
    unavailable: true
  - id: generators
    title: Generators
    description: Functions that can be paused
    unavailable: true
---
extends ../_layouts/book.jade

block description
  :markdown-it
    ES2015, previously called ES6, is the new version of JavaScript. It's supported by Node.js and modern browsers. Older browsers such as IE and iOS Safari will have to rely on [Babel](http://babeljs.io), a compiler that converts ES2015 to ES5 code.

block body
  body.-book
    +content(chapters)
