extends ./base.jade

block title
  = title

block content
  .book-nav
    .nav-button

  .chapter-nav
    strong= title

  #body.markdown-body
    .page-section
      .container
        h5.chapter-prelude
          strong= 'Pocket Guides / '
          a(href='.')= title
        != contents

  script(src='../_assets/script.js')
